<h1><%=@task.title%></h1>
<p><%=@task.details%></p>

<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>



<li><%= link_to "Go to task page", tasks_path %></li>
